@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "sf";
  src: url('../font/SF-Pro.ttf') format("truetype");
  font-style: normal;
}


.kr_h1 {
  font-family: 'noto sans KR';
  font-weight: 500;
  font-size: 6rem;
  letter-spacing: -4px;
  text-transform: uppercase;
}
.en_h1 {
  font-family: 'sf';
  letter-spacing: -3px;
  font-weight: 800;
  text-transform: uppercase;
  font-size:6rem;

}


.kr_h2 {
  font-family: 'noto sans KR';
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: -2px;
  
}
.en_h2 {
  font-family: 'sf';
  font-weight: 300;
  font-size: 3.2rem;
  letter-spacing: -1px;
  text-transform: uppercase;

}

.kr_h3 {
  font-family: 'noto sans KR';
  font-weight: 300;
  font-size: 2.8rem;
  letter-spacing: -2px;
  text-transform: uppercase;

}
.en_h3 {
  font-family: 'sf';
  font-weight: 200;
  font-size: 2.8rem;
  letter-spacing: 0px;
  text-transform: uppercase;

}

.kr_p1 {
  font-family: 'noto sans KR';
  font-weight: 300;
  font-size: 2.4rem;
  letter-spacing: -1px;
  text-transform: uppercase;

}
.en_p1 {
  font-family: 'sf';
  font-weight: 200;
  font-size: 2.4rem;
  letter-spacing: -0.5px;
  text-transform: uppercase;

}

.kr_p2 {
  font-family: 'noto sans KR';
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: -1.5px;
  text-transform: uppercase;

}
.en_p2 {
  font-family: 'sf';
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: -0.5px;
  text-transform: uppercase;

}

.kr_p3 {
  font-family: 'noto sans KR';
  font-weight: 200;
  font-size: 1.6rem;
  letter-spacing: -1px;
  text-transform: uppercase;

}
.en_p3 {
  font-family: 'sf';
  font-weight: 100;
  font-size: 1.6rem;
  letter-spacing: -0.5px;
  text-transform: uppercase;

}

.kr_p4 {
  font-family: 'noto sans KR';
  font-weight: 200;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  text-transform: uppercase;

}
.en_p4 {
  font-family: 'sf';
  font-weight: 100;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  text-transform: uppercase;

}

