@charset "utf-8";


#main_visual
{
    height:100vh;
    overflow: hidden;
    position:relative;    
}
.main_visual_txt
{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:3;
}
#header
{
    z-index:5;
}
.depth2,
.depth2_bg

{
    z-index:4;
}

.slide3
{
    z-index:-3 !important;
    width:100%;
    height:100%;
} 
.slide3 .swiper-slide
{
    width:100%;
}

.main_visual_img img
{
    width: 100%;
}


.main_visual_txt path
{
    animation: main_txt_svg_fill 4s ease-in-out forwards;

}

@keyframes main_txt_svg_fill
{
    0%
    {
        stroke-width:2px;
        stroke:#0070FF;
        stroke-dasharray:0;
        fill:rgba(0,0,0,0);
    }

    100%
    {
        stroke-dasharray: 1000;
        stroke:rgba(0,0,0,0);
        fill:#fff;
    }
}
/* .main_visual_txt
{
    transition: all 0.5s;
}

.main_visual_txt .en_h1
{
    filter:blur(20px);
    animation: main_txt 2s linear forwards;
}
.main_visual_txt .kr_h1
{
    filter:blur(20px);
    animation: main_txt 2s 0.5s linear forwards;
} */
/* @keyframes main_txt_svg_fill
{
    0%
    {
        fill:rgba(0,0,0,0);
        stroke-dashoffset: ;
    }
    100%
    {
        fill:rgba(0,0,0,1);

    }
} */



@keyframes main_txt
{
    0%
    {
        filter:blur(40px);
        opacity: 0;
    }
    100%
    {
        filter:blur(0px);
        opacity: 1;

    }
}



.main_visual_txt .kr_h2
{
    color:#fff;
    margin-top:10px;
}


/* value */
#sec2_box
{
    background:url('../img/sec_value/value_img_1.png') 
    no-repeat 
    center 
    center;
    background-attachment: fixed;
    background-size: cover;
}

#value
{
    height:100vh;
    display: flex;
    justify-content: end;

}
.value_txt
{
    padding:100px 100px;
    width:50%;
    background:#fff;

}

.value_txt .en_h1
{
    line-height: 1.2;
    margin-bottom:20px;
    position: relative;
    color:#333;
}



.value_txt dl dd
{
    width:70%;
    margin-top: 0px;

}
.value_txt dl dt
{
    position:relative;
    margin-top:35px;
    margin-bottom:10px;
    display: inline-block;

}


.value_txt dl dt::after
{
    content: '';
    background:#0070FF;
    width:60%;
    height:10px;
    top:-30px;
    left:0;
    position: absolute;
}


.value_txt .kr_h3
{
    font-weight:400;
    color:#000;
}



.value_bg
{
    overflow: hidden;
    width: 50%;
    position:relative;
}
.value_bg img
{
    width: 100%;
    transform: scale(1.2);
}
.value_bg img.on
{
    position:absolute;
    bottom:0;
    left:0;
}


/* value */


/* vision */
#vision
{
    height:120vh;
    display: flex;

}
.vision_txt
{
    padding:100px;
    display: flex;
    flex-direction: column;
}
.vision_txt
{
    padding-bottom:0px;
    background:#fff;
    width:50%;

}
.vision_txt_top
{
    height: 50%;
}



.vision_txt .en_h1
{
    line-height: 1.2;
    margin-bottom:20px;
    position: relative;
    color:#333;
}


.vision_txt dl
{
    position:relative;
}



.vision_bg
{
    width:50%;
    height:100%;
    background:url('../img/sec_vision/vision_img_1.png') 
    no-repeat 
    center 
    center ;
}
.vision_icon
{   
    margin-left:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.vision_icon > img
{
    transition:all 1s;
    transform: scale(0,0);
}
.vision_icon > img.on
{
    animation:vision 1s;
    animation-fill-mode: forwards;
}
.vision_icon > img.off
{
    animation:vision2 1s;
    animation-fill-mode: forwards;
}

.icon_3things img.on
{
    animation:vision 2s;
    animation-fill-mode: forwards;

}
.icon_3things img.off
{
    animation:vision2 2s;
    animation-fill-mode: forwards;

}

@keyframes vision 
{
    0%
    {
        transform:scale(0,0);
    }
    100%
    {
        transform:scale(0.8,0.8);
    }
}

@keyframes vision2
{
    0%
    {
        transform:scale(0.8,0.8);
    }
    100%
    {
        transform:scale(0,0);
    }
}

.icon_3things > li > ul
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon_3things > li > ul .kr_h2
{
    color:#0070FF;
    line-height: 1.3;
}


/* 맨위 */
.creative_icon
{
    position: absolute;
    top:-35%;
    left:50%;
    transform: translateX(-50%);
}

/* 맨위 */


/* 중간 */
.tradition_icon
{
    position: absolute;
    top:10%;
    left:-0%;
}
.human_icon
{
    position: absolute;
    top:8%;
    right:-0%;
}


/* 중간 */


/* 아래 */
.future_icon
{
    position: absolute;
    bottom:-25%;
    right:10%;
}


.change_icon
{
    position: absolute;
    bottom:-25%;
    left:10%;
}

#products
{
    height:300vh;
}
#products > div
{
    height:100vh;
}

#products a
{
    display: block;
    padding:10px 20px;
    background:#fff;
    position:relative;
    transition: all 0.3s;
    overflow: hidden;
    width:100%;

    color:#000;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;

}
#products a:hover
{
    background:#0070ff;
    border: 1px solid #0070ff;
    color:#fff;
}




.products_1
{
    display: flex;
}
.product_1_img_box,
.product_2_img_box,
.product_3_img_box
{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.product_1_img_box img,
.product_2_img_box img,
.product_3_img_box img
{
    width:80%;
    border-radius: 20px;
}
.products_text_1
{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction:column;
    width:50%;
    padding:50px;
}
.products_text_1 .kr_p2
{
    margin-top:10px;
}



#products .en_h2
{
    line-height: 1.2;
}
#products .kr_p1
{
    margin-bottom:10px;
}

/* products_2 */
.products_2
{
    display: flex;
    background:#f7f8fa;
}

.products_text_2

{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction:column;
    width:50%;
    padding:50px;
}
.products_text_2 .kr_p2
{
    margin-top:10px;
}


/* products_3 */
.products_3
{
    display: flex;
    background:#fff;

}

.products_text_3

{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction:column;
    width:50%;
    padding:50px;
}

/* products_btn */
.products_right
{
    position:fixed;
    top:50%;
    right:40px;
    transform: translateY(-50%);
    padding:5px;
    z-index:1;
}
.products_right li
{
    position: relative;
    transition:all 0.2s;
}
.products_right li .products_ball
{
    border-radius: 20px;
    width: 5px;
    height:5px;
    background:#0070FF;
    position: absolute;
    right:-20px;
    top:50%;
    transition: all 0.2s;
    transform: translateY(-50%);
}
.products_right li .products_ball.on
{
    width:12px;
    height:12px;
}

  
  .products_right li:nth-child(1).on
  {
    font-family: 'sf';
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: uppercase;
    font-size:2.4rem;
  }
  .products_right li:nth-child(2).on
  {
    font-family: 'sf';
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: uppercase;
    font-size:2.4rem;
  }

  .products_right li:nth-child(3).on
  {
    font-family: 'sf';
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: uppercase;
    font-size:2.4rem;
  }



/* 아래 */

/* products */







/* rest */
#rest
{
    margin-top:100vh;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#rest a
{
    display: block;
    padding:10px 20px;
    background:#fff;
    position:relative;
    transition: all 0.3s;
    overflow: hidden;
    width:100%;
    color:#000;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
}
#rest .kr_p1
{
    display: inline-block;
    margin-top:20px;
}
#rest a:hover
{
    background:#0070ff;
    border: 1px solid #0070ff;
    color:#fff;
}



#rest ul
{
    background:#f7f8fa;
    width:100%;
    padding:100px 0px;
}




#growing
{
    margin-bottom:200px;
}

.growing_top_txt
{
    text-align: center;
    margin-bottom:50px;
}

.left_num
{
    text-align: center;
}

.left_num_3
{
    color:#0070FF;
}
.left_num li
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.left_chart,
.left_num
{
    display: flex;
    gap:40px;
}
.left_num li,
.left_chart li
{
    width:100px;
}
.left_chart li
{
    height:400px;
    background:#f7f8fa;
    position: relative;

    /* overflow: hidden; */
}



.wave_wrap
{
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
}
.growing_con
{
    display: flex;
    justify-content: center;
    gap:300px;
    margin:0 auto;
}



  .wave_1
  {
    width: 650px;
    height: 650px;
    position: absolute;
    bottom: -120%;
    left: -300%;
    border-radius: 48%;
    background: #0A2A48;
    /* animation: move_2 4s infinite linear; */
  }
  .wave_2
  {
    width: 650px;
    height: 650px;
    position: absolute;
    bottom: -100%;
    left: -300%;
    border-radius: 46%;
    background: #175B9A;
    /* animation: move 5s infinite linear; */
  }
  .wave_3
  {
    width: 650px;
    height: 650px;
    position: absolute;
    bottom: -80%;
    left: -300%;
    border-radius: 42%;
    background: #0070C0;
    /* animation: move_2 3s infinite linear; */
  }

.wave_1.on
{
    animation: move_up 1s linear, move 3s infinite linear;
}
.wave_1.off
{
    animation: move_down 2s ease-in;
    animation-fill-mode: forwards;
}

.wave_2.on
{
    animation: move_up 1.2s linear, move_2 3s infinite linear;
}
.wave_2.off
{
    animation: move_down 2s ease-in;
    animation-fill-mode: forwards;
}

.wave_3.on
{
    animation: move_up 1.4s linear,  move_2 3s infinite linear;
}
.wave_3.off
{
    animation: move_down 2s ease-in;
    animation-fill-mode: forwards;
}


@keyframes move {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes move_2 {
    100% {
      transform: rotate(-360deg);
    }
}

@keyframes move_up
{
    0%
    {
        transform:translateY(100%);
    }
    100%
    {
        transform:translateY(0%);
    }
}
@keyframes move_down
{
    0%
    {
        transform:translateY(0%);
    }
    100%
    {
        transform:translateY(100%);
    }
}

.wave_bg
{
    background:#f7f8fa;
}



.left_txt
{
    padding:5px 7px;
    color:#fff;
    border-radius: 20px;
    text-align: right;
    width:100%;
    display: flex;
    justify-content: end;
}
.left_txt > span
{
    background:#2687E0;
    padding:5px 10px;
    border-radius: 10px;
}
.left_txt > span .kr_h2,
.right_txt > span .kr_h2
{
    margin:0 5px;
}


/*  */
.right_num
{
    text-align: center;
}

.right_num_3
{
    color:#0070FF;
}
.right_num li
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.right_chart,
.right_num
{
    display: flex;
    gap:40px;
}
.right_num li,
.right_chart li
{
    width:60px;
}
.right_chart li
{
    height:400px;
    display: flex;
    align-items: end;
    background:rgba(0,0,0,0) !important;
}
.right_chart li:nth-child(1) div
{
    border-radius: 93px;
    background: linear-gradient(180deg, #DFDFDF 0%, #F2F2F2 100%);
    width:100%;

}
.right_chart li:nth-child(2) div
{
    border-radius: 93px;
    background: linear-gradient(180deg, #B0B0B0 0%, #DDD 100%);
    width:100%;

}
.right_chart li:nth-child(3) div
{
    border-radius: 93px;
    background: linear-gradient(180deg, #0075E0 0%, #DDD 100%);
    width:100%;
    position:relative;
}
.right_chart li:nth-child(1) div.on
{
    animation: move_up_right_1 1s ease-in;
    animation-fill-mode:forwards;
}
.right_chart li:nth-child(2) div.on
{
    animation: move_up_right_2 1s ease-in;
    animation-fill-mode:forwards;

}
.right_chart li:nth-child(3) div.on
{
    animation: move_up_right_3 2s ease-in;
    animation-fill-mode:forwards;

}
.right_chart li:nth-child(1) div.off
{
    animation: move_down_right 1s ease-in;
    animation-fill-mode:forwards;

}
.right_chart li:nth-child(2) div.off
{
    animation: move_down_right 1s ease-in;
    animation-fill-mode:forwards;

}
.right_chart li:nth-child(3) div.off
{
    animation: move_down_right 2s ease-in;
    animation-fill-mode:forwards;

}

@keyframes move_up_right_1
{
    0%
    {
        height:0%;
    }
    100%
    {
        height:30%;
    }
}
@keyframes move_up_right_2
{
    0%
    {
        height:0%;
    }
    100%
    {
        height:60%;
    }
}
@keyframes move_up_right_3
{
    0%
    {
        height:10%;
    }
    100%
    {
        height:100%;
    }
}
@keyframes move_down_right_1
{
    0%
    {
        height:30%;
    }
    100%
    {
        height:0%;
    }
}
@keyframes move_down_right_2
{
    0%
    {
        height:60%;
    }
    100%
    {
        height:0%;
    }
}
@keyframes move_down_right_3
{
    0%
    {
        height:100%;
    }
    100%
    {
        height:10%;
    }
}


.right_chart li:nth-child(3) div::after
{
    content: '';
    background:#fff;
    border-radius: 50px;
    border:5px solid #0276e0;
    position:absolute !important;
    top:0 !important;
    left:50% !important;
    transform: translateX(-50%);
    width:60px;
    height:60px;
}


.right_chart li
{
    height:400px;
    background:#f7f8fa;
    position: relative;

    /* overflow: hidden; */
}

.right_txt
{
    padding:5px 7px;
    color:#fff;
    border-radius: 20px;
    text-align: right;
    width:100%;
    display: flex;
    justify-content: end;
}
.right_txt > span
{
    background:#2687E0;
    padding:5px 10px;
    border-radius: 10px;
}



.left_txt .kr_h1,
.right_txt .kr_h1
{
    margin:0 5px;
}

.left_txt > span,
.right_txt > span
{
    display: inline-block;
}

.growing_bottom
{
    text-align: center;
    padding-top:100px;
}

/* cost */
#cost
{
    background:#0070FF;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:200px 0px;
}
.cost_content
{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    width:100%;
}

.cost_content > li
{
    width:calc((100% - 60px) / 3);
}

.cost_content .kr_h2,
.cost_content .en_h1
{
    color:#fff;
    text-align: center;
}






#howcome
{
    padding-top:200px;
    height:100vh;
    margin-bottom: 200px;
}
.howcome_top
{
    text-align: center;
}

.howcome_tab
{
    display: flex;
    justify-content: center;
    gap:50px;
    margin:50px 0px;
}
.howcome_tab > li
{
    cursor:pointer;
    opacity:0.3;
    padding:5px 10px;
    transition: all 0.3s;
    border-bottom: rgba(0,0,0,0) 5px solid;

}
.howcome_tab > li.on
{
    border-bottom: #0070FF 5px solid;
    opacity:1;
}


.gang_box iframe
{
    width:calc((100% - 50px) / 3);

}
.gang_box > ul
{
    width:calc((100% - 50px) / 3);
}



.singi_box iframe
{
    width:calc((100% - 50px) / 3);


}
.singi_box > ul
{
    width:calc((100% - 50px) / 3);
}





.howcome_bottom
{
    position: relative;
    width:100%;
    height:100%;
}


.gang_box
{
    position:absolute;
    top:0;
    left:0;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    gap:50px;

}
.howcome_bottom .kr_h3,
.howcome_bottom .en_h3
{
    margin-right:10px;
}

.singi_box
{
    position:absolute;
    top:0;
    left:0;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    gap:50px;

}
.gang_box,
.singi_box
{
    opacity: 0;
    width:100%;
    z-index: 0;


}

.gang_box.on
{
    opacity: 1;
    z-index: 1;

}
.singi_box.on
{
    opacity: 1;
    z-index: 1;


}