@charset "utf-8";
/* 노트북 inner는 그대로 가져갈 것 */


/* 노트북 */
@media (max-width:1280px)
/* mac_book_air 반응형  노트북 중에서 작은사이즈로 선정 */
{

    .value_txt
    {
        padding-right:0px;
    }
    .value_txt dl dd
    {
        width:100%;
    }
    .vision_txt_bottom
    {
        padding-right:100px;
    }
    .tradition_icon

    {
        left:-15%;
    }
    .human_icon
    {
        right:-15%;
    }
    .future_icon,
    .change_icon
    {
        bottom:-35%;
    }
    .products_right
    {
        display: none !important;
    }
    .singi_box > ul,
    .gang_box > ul
    {
        width:50%;
    }
    
}
/* 노트북 */


/* 패드 */
/* inner 40px */


@media (max-width:1024px)
/* ipad mini 가로형 반응형 높이: 768px */
{
    .inner
    {
        width: calc(100% * ((1703 / 1903)));
    }
    .kr_h1
    {
        font-size:5rem;
    }
    .en_h1
    {
        font-size:5rem;
    }
    .kr_h2
    {
        font-size:2.8rem;
    }
    .en_h2
    {
        font-size:2.8rem;
    }
    .kr_h3
    {
        font-size:2.5rem;
    }
    .en_h3
    {
        font-size:2.5rem;
    }
    .kr_p2
    {
        font-size:1.6rem;
    }
    .en_p2
    {
        font-size:1.6rem;
    }
    .kr_p3
    {
        font-size:1.5rem;
    }
    .en_p3
    {
        font-size:1.5rem;
    }

    .tradition_icon
    {
        left:-30%;
    }
    .human_icon
    {
        right:-30%;
    }
    .future_icon
    {
        right:-10%;
        bottom:-20%;
    }
    .change_icon
    {
        left:-10%;
        bottom:-20%;

    }
    #howcome iframe
    {
        width:100%;
        height:300px;
    }
    #main_visual img
    {
        width:120%;
    }
}
/* 패드 */



@media (max-width:768px)
/* ipad mini 세로형 반응형 높이: 1024px */
{
    .kr_h1 {font-size: 3.2rem;}
.en_h1 {font-size: 3.2rem;}
.k3_p1 {font-size: 2rem;}
.en_p1 {font-size: 2rem;}

    
    #main_visual img
    {
        width:250%;
    }
    .main_visual_txt
    {
        width:90%;
    }
    .main_visual_txt svg
    {
        width:100%;
    }
    .value_txt
    {
        word-break:keep-all;
        padding:50px;
    }
    .reacive_1
    {
        display: none;
    }
    .vision_txt_bottom
    {
        padding-right:0;
    }
    .vision_icon
    {
        margin-left:0px;
    }
    .vision_icon img
    {
        width:75%;
    }
    .creative_icon
    {
        top:-45%;
    }
    .tradition_icon
    {
        left:-13%;
    }
    .human_icon
    {
        right:-13%;
    }
    .gang_box
    {
        gap:30px;
    }
}
/* 패드 */



/* 모바일 */

@media (max-width:414px)
/*iphone 11 반응형 */
{
    .inner
    { width: calc(100% * ((1703 / 1903))); }
    .kr_h1
    {
        font-size:3.2rem;
    }
    .en_h1
    {
        font-size:3.2rem;
    }
    .kr_h2
    {
        font-size:2.8rem;
    }
    .en_h2
    {
        font-size:2.8rem;
    }
    .kr_h3
    {
        font-size:2.5rem;
    }
    .en_h3
    {
        font-size:2.5rem;
    }
    .kr_p1
    {
        font-size:2rem;
    }
    .en_p1
    {
        font-size:2rem;
    }
    .kr_p2
    {
        font-size:1.6rem;
    }
    .en_p2
    {
        font-size:1.6rem;
    }
    .kr_p3
    {
        font-size:1.5rem;
    }
    .kr_p3
    {
        font-size:1.5rem;
    }

    .value_txt
    {
        padding:10px;
        width: 100%;
        height:50%;
    }
    #vision
    {
        flex-direction: column;
    }
    .vision_bg
    {
        width:100%;
        height:50%;

    }
    .vision_icon > img
    {
        width: 50%;
    }
    .creative_icon
    {
        top:-40%;
    }
    .tradition_icon
    {
        left:5%;
    }
    .human_icon
    {
        right:5%;
    }
    .future_icon
    {
        right:10%;
        bottom:-45%;
    }
    .change_icon
    {
        left:10%;
        bottom:-45%;

    }
    .parallax_section
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .parallax_section > div,
    .parallax_section > dl
    
    {
        width:100%;
    }
    .product_1_img_box
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product_2_img_box
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product_3_img_box
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #rest
    {
        word-break: keep-all;
    }
    .gang_box
    {
        flex-direction: column;
    }
    .singi_box
    {
        flex-direction: column;
    }
    .gang_txt
    {
        width:100% !important;
    }
    .singi_txt
    {
        width:100% !important;
    }
    #howcome
    {
        margin-bottom:400px;
    }

}

@media (max-width:320px)
/*iphone5 반응형 */
{
    .kr_h1
    {
        font-size:3.2rem;
    }
    .en_h1
    {
        font-size:3.2rem;
    }
    .kr_h2
    {
        font-size:2.8rem;
    }
    .en_h2
    {
        font-size:2.8rem;
    }
    .kr_h3
    {
        font-size:2rem;
    }
    .en_h3
    {
        font-size:2rem;
    }
    .kr_p1
    {
        font-size:2rem;
    }
    .en_p1
    {
        font-size:2rem;
    }
    .kr_p2
    {
        font-size:1.6rem;
    }
    .en_p2
    {
        font-size:1.6rem;
    }
    .kr_p3
    {
        font-size:1.5rem;
    }
    .en_p3
    {
        font-size:1.5rem;
    }

    .main_visual_txt .kr_h2
    {
        font-size:2.4rem;
    }
    .vision_txt
    {
        height:100%;
    }
    #howcome
{
    margin-bottom:300px;
}


    .br_320
    {
        display: block;
    }

    .product_1_img_box,
    .product_2_img_box,
    .product_3_img_box
    
    {
        padding-top:100px
    }
    .products_text_1,
    .products_text_2,
    .products_text_3
    {
        padding-top:20px !important;
    }
    #vision
    {
        height:150vh;
    }

    .gang_box,
    .singi_box
    {
        gap:20px;
    }
    #howcome iframe
    {
        height:100px;
    }
    .howcome_tab
    {
        margin:20px 0px;
    }



    .creative_icon
    {
        top:-50%;
    }

    .tradition_icon
    {
        left:-2%;
 
    }
    .human_icon
    {
        right:-2%;
    }


    .future_icon
    {   
        bottom:-50%;
        right:5%;
    }
    .change_icon
    {
        bottom:-50%;
        left:5%;
    }
    .vision_icon > img.on,
    .icon_3things img.on,
    .vision_icon > img.off,
    .icon_3things img.off
    {
        animation:none !important;
        animation-fill-mode: forwards !important;
    }
    .vision_icon > img,
    .icon_3things img
    {
        transform: scale(0.7,0.7) !important;
    }
    .vision_icon .kr_h2
    {
        font-size:2.5rem;
    }
    .vision_icon .kr_p3
    {
        font-size:1.4rem;
    }

}

/* 모바일 */

