@charset "utf-8";
/* 노트북 inner는 그대로 가져갈 것 */


/* 노트북 */
@media (max-width:1280px)
/* mac_book_air 반응형  노트북 중에서 작은사이즈로 선정 */
{

    .value_txt
    {
        padding-right:0px;
    }
    .value_txt dl dd
    {
        width:100%;
    }
    .vision_txt_bottom
    {
        padding-right:100px;
    }
    .tradition_icon

    {
        left:-15%;
    }
    .human_icon
    {
        right:-15%;
    }
    .future_icon,
    .change_icon
    {
        bottom:-35%;
    }
    .products_right
    {
        display: none !important;
    }
    .singi_box > ul,
    .gang_box > ul
    {
        width:50%;
    }
    
}
/* 노트북 */


/* 패드 */
/* inner 40px */


@media (max-width:1024px)
/* ipad mini 가로형 반응형 높이: 768px */
{
    .kr_h1
    {
        font-size:5rem;
    }
    .en_h1
    {
        font-size:5rem;
    }
    .kr_h2
    {
        font-size:2.8rem;
    }
    .en_h2
    {
        font-size:2.8rem;
    }
    .kr_h3
    {
        font-size:2.5rem;
    }
    .en_h3
    {
        font-size:2.5rem;
    }
    .kr_p2
    {
        font-size:1.6rem;
    }
    .en_p2
    {
        font-size:1.6rem;
    }
    .kr_p3
    {
        font-size:1.5rem;
    }
    .en_p3
    {
        font-size:1.5rem;
    }
    .sitemap_left
    {
        width:65%;
    }
    .sitemap_right
    {
        width: 35%;
    }
    .tradition_icon
    {
        left:-30%;
    }
    .human_icon
    {
        right:-30%;
    }
    .future_icon
    {
        right:-10%;
        bottom:-20%;
    }
    .change_icon
    {
        left:-10%;
        bottom:-20%;

    }
    #howcome iframe
    {
        width:100%;
        height:300px;
    }
    #main_visual img
    {
        width:120%;
    }
}
/* 패드 */



@media (max-width:768px)
/* ipad mini 세로형 반응형 높이: 1024px */
{

}
/* 패드 */



/* 모바일 */

@media (max-width:414px)
/*iphone 11 반응형 */
{

}

@media (max-width:320px)
/*iphone5 반응형 */
{

}

/* 모바일 */




