@charset "utf-8";

.depth2_bg
{
    z-index:2;
}
.inner
{
    width: calc(100% * ((1403 / 1903)));
}
#header .inner,
#footer .inner
{
    width: calc(100% * ((1703 / 1903)));

}
/* #sec_1  */
#sec_1 {
    position: relative;
}

#sec_1 img {
    margin: 80px 0;
}

/* #sec_1 .img_txt {
    position: absolute;
    bottom: 110px;
    left: 50px;
    font-size: 10rem;
    color:#f7f8fa;
    font-weight: lighter;
} */

/* #sec_2 */
#sec_2 .inner {
    display: flex;
    justify-content: center;

}
#sec_2 .inner .main_txt
{
    width:30%;
}

#sec_2 .inner .more {
    margin-top: 80px;
    width:70%;
}

#sec_2 .inner .more .kr_h2 {
    position: relative;
}

#sec_2 .inner .more .kr_h2::after {
    content: '';
    width: 200px;
    height: 8px;
    position: absolute;
    left: 0;
    bottom: 80px;
    background: #0070C0;
}





/* #sec_3 */
#sec_3
{
    padding:200px 0px;
}
#sec_3 img
{
    border-radius: 20px;
}

#sec_3 .kr_h1
{
    margin-bottom:400px;
}

#sec_3 .en_h1
{
    margin-bottom: 10px;
}
#sec_3 .sec_3_right
{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position:relative;
}

.sec_3_img_right
{
    position: absolute;
    top:50%;
    left:35%;
    transform: translate(-50%, -50%) ;
    z-index: -2;
}
.sec_3_img_left
{
    position: absolute;
    top:50%;
    left:65%;
    transform: translate(-50%, -50%) ;
    z-index: -2;
}



#sec_3 .sec_3_right li
{
    width:50%;
    text-align: right;
}
#sec_3 .sec_3_right li:nth-child(1)
{
    position: relative;
    color:#0070C0;
}
#sec_3 .sec_3_right li:nth-child(1)::after
{
    content: '';
    background:#0070C0;
    width:100%;
    height:5px;
    position:absolute;
    bottom:0;
    right:0;
    border-radius: 3px;;
}
#sec_3 .sec_3_right li:nth-child(1)::before
{
    content: '';
    background:#0070C0;
    width:20px;
    height:20px;
    position:absolute;
    bottom:-8px;
    left:-8px;
    border-radius: 50%;
}

#sec_3 .sec_3_left
{
    width: 100%;
    position:relative;
}
#sec_3 .sec_3_left li
{
    width:50%;
}

#sec_3 .sec_3_left .en_h1
{
    position: relative;
    color:#0070C0;
}
#sec_3 .sec_3_left li:nth-child(1)::after
{
    content: '';
    background:#0070C0;
    width:100%;
    height:5px;
    position:absolute;
    bottom:0;
    right:0;
    border-radius: 3px;;

}
#sec_3 .sec_3_left li:nth-child(1)::before
{
    content: '';
    background:#0070C0;
    width:20px;
    height:20px;
    position:absolute;
    bottom:-8px;
    right:-8px;
    border-radius: 50%;
}
.sec_3_right,
.sec_3_left
{
    padding-top:150px;
}

#sec_3 .inner ul:last-child
{
    padding-top:0px;
}


/* sec3 */
#sec_4
{
    padding:200px 0px;
    word-break: keep-all;
}
.sec_4_top
{
    display: flex;
}
.sec_4_top_right
{
    width:30%;
}
.sec_4_top_left
{
    width:50%;
    margin-top:80px;
}
.sec_4_top_left .kr_h2
{
    position:relative;

}
.sec_4_top_left .kr_h2_top::after
{
    content: '';
    width: 200px;
    height: 8px;
    position: absolute;
    left: 0;
    bottom: 80px;
    background: #0070C0;
}

.sec_4_mid
{
    padding-top:100px;
    display: flex;
    
}

.sec_4_mid_left
{
    width:30%;
    display: flex;
    
}
.sec_4_mid_right
{
    width:70%;
    display: flex;
    gap:20px;
    align-items: center;

}


.sec_4_mid_left img
{
    border-radius: 20px;
    width:90%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);

    
}

.sec_4_bottom
{
    display: flex;
    padding-top:100px;
}


.sec_4_top_left .kr_h2,
.sec_4_mid_right .kr_h2
{
    margin-top:10px;
    margin-bottom:5px;
}


/* sec5 */
#sec_5
{
    height:100vh;
    padding:200px 0px;
    margin-bottom:200px;
}
.howcome_top
{
    text-align: center;
}

.howcome_tab
{
    display: flex;
    justify-content: center;
    gap:50px;
    margin:50px 0px;
}
.howcome_tab > li
{
    cursor:pointer;
    opacity:0.3;
    padding:5px 10px;
    transition: all 0.3s;
    border-bottom: rgba(0,0,0,0) 5px solid;

}
.howcome_tab > li.on
{
    border-bottom: #0070FF 5px solid;
    opacity:1;
}


.gang_box iframe
{
    width:calc((100% - 50px) / 3);

}
.gang_box > ul
{
    width:calc((100% - 50px) / 3);
}



.singi_box iframe
{
    width:calc((100% - 50px) / 3);


}
.singi_box > ul
{
    width:calc((100% - 50px) / 3);
}





.howcome_bottom
{
    position: relative;
    width:100%;
    height:100%;
}


.gang_box
{
    position:absolute;
    top:0;
    left:0;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    gap:50px;

}
.howcome_bottom .kr_h3,
.howcome_bottom .en_h3
{
    margin-right:10px;
}

.singi_box
{
    position:absolute;
    top:0;
    left:0;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    gap:50px;

}
.gang_box,
.singi_box
{
    opacity: 0;
    width:100%;
    z-index: 0;


}

.gang_box.on
{
    opacity: 1;
    z-index: 1;

}
.singi_box.on
{
    opacity: 1;
    z-index: 1;


}

