@charset "utf-8";
/* 노트북 inner는 그대로 가져갈 것 */


/* 노트북 */
@media (max-width:1280px)
/* mac_book_air 반응형  노트북 중에서 작은사이즈로 선정 */
{



    /* 가공문의 섹션 여백 재설정 */
    /* ★노트북 화면 공동여백 수치 입니다!★ */

    #main .inner {width: calc(100% * ((1503 / 1903)));}

    /* ★노트북 화면 공동여백 수치 입니다!★ */

    #sec_1 .main_banner {margin-top: 40px;}
    #sec_2 {padding: 50px 0px;}
    #sec_2 .inner .singi {height: 500px;}

    #sec_4 .obj li {width: 100%; padding: 30px 10px;}
    #sec_4 .obj li:after {
        display: block; 
        content: '';

        width: 300px; height: 8px; 
        background: transparent; 
        position: absolute; 
        left: 0px; top: 10px; 

        transition: left 0.5s,background 0.5s ;
    }
    #sec_4 .obj li:hover:after {left: 10px;}


}

/* 노트북 */









/* 패드 */
/* inner 40px */


@media (max-width:1024px)
/* ipad mini 가로형 반응형 높이: 768px */
{
    /* ★ 아이패드 미니 - 가로형 공동여백 수치 입니다! ★ */

    #main .inner {width: calc(100% * ((1503 / 1903)));}

    /* ★ 아이패드 미니 - 가로형 공동여백 수치 입니다! ★ */

    .kr_h1 {font-size: 5rem;}
    .en_h1 {font-size: 5rem;}
    .kr_h2 {font-size: 2.8rem;}
    .en_h2 {font-size: 2.8rem;}
    .kr_h3 {font-size: 2.5rem;}
    .en_h3 {font-size: 2.5rem;}
    .kr_p2 {font-size: 1.6rem;}
    .en_p2 {font-size: 1.6rem;}
    .kr_p3 {font-size: 1.5rem;}
    .en_p3 {font-size: 1.5rem;}

    #sec_1 .main_banner {margin-top: -20px;}
    #sec_2 {padding: 30px 0px;}

    #sec_3 .inner .press {gap: 50px;}
    #sec_3 .inner .press .press_img {width: 400px; height: 400px;}
    #sec_3 .inner .press .txt .txt_tit > h1:after {top: -10px; width: 130px;}
    
    #sec_4 .obj li:after {
        display: block; 
        content: '';

        width: 230px; height: 8px; 
        background: transparent; 
        position: absolute; 
        left: 0px; top: 10px; 

        transition: left 0.5s,background 0.5s ;
    }
    #sec_4 .obj li:hover:after {left: 10px;}

   }
/* 패드 */







@media (max-width:768px)
/* ipad mini 세로형 반응형 높이: 1024px */
{

    /* ★ 아이패드 미니 - 세로형 공동여백 수치 입니다! ★ */

    #main .inner {width: calc(100% * ((1603 / 1903)));}

    /* ★ 아이패드 미니 - 세로형 공동여백 수치 입니다! ★ */



    #sec_1 .main_banner {margin-top: -80px; height: 400px;}
    #sec_2 {padding: 30px 0px;}
    #sec_2 .inner .singi {height: 400px;}

    #sec_3 .inner .press {gap: 50px;}
    #sec_3 .inner .press .press_img {width: 300px; height: 300px;}
    #sec_3 .inner .press .txt {width: calc(100% - 300px); word-break: keep-all;}

    #sec_3 .inner .press .txt .txt_tit > h1:after {top: -10px; width: 130px;}


    
    #sec_4 .obj li:after {width: 150px; height: 8px; }

    #sec_5 {margin: 100px 0;  word-break: keep-all;}
    #sec_5 p {font-size:4rem;}

/* 패드 */

}

/* 모바일 */

@media (max-width:414px)
/*iphone 11 반응형 */
{
    /* ★ '아이폰 11 - 세로형' 공동여백 수치 입니다! ★ */
    
    #main .inner {width: calc(100% * ((1703 / 1903)));}

    /* ★ '아이폰 11 - 세로형' 공동여백 수치 입니다! ★ */


    .kr_h1 {font-size: 3.2rem;}
    .en_h1 {font-size: 3.2rem;}
    .k3_p1 {font-size: 2rem;}
    .en_p1 {font-size: 2rem;}

    #sec_2 .inner .singi_txt {display: block;}
    #sec_2 .inner .singi_txt .txt_2 {margin-top: 10px;}
    #sec_2 .inner .singi {height: 300px;}


    #sec_3 .inner .press {display: block;}
    #sec_3 .inner .press .txt {width: 100%;}
    #sec_3 .inner .press .txt .txt_tit {display: block;}
    #sec_3 .inner .press .txt .txt_tit > h1:after { width: 100%;}
    #sec_3 .inner .press .txt .txt_tit h2 {font-size: 2.4rem;}
    #sec_3 .inner .press .txt p {margin-top: 20px;}

    .coil_img {height: 300px;}
    .coil_img .img1 {width: 100% ; height: 300px; background-size: cover;}
    .coil_img .img2 {width: 100% ;height: 300px;background-size: cover;}
    .coil_img .img3 {width: 100% ;height: 300px;background-size: cover;}
    .coil_img .img_bg {width: 100% ;height: 300px;background-size: cover;}

    #sec_3 .inner .press .press_img {width: 250px; height: 250px; margin: 0 auto 30px;}
    #sec_3 .inner .press .txt .txt_tit > h1:after {top: -20px;}

    #sec_4 {padding bottom: 0;}
    #sec_4 .obj {margin: 0 auto; display: block;}
    #sec_4 .obj li:after {width: calc(100% - 25px);}
    #sec_5 p {font-size:2.5rem; margin: 0;}

}

@media (max-width:320px)
/*iphone5 반응형 */
{
/* ★ '아이폰 5 - 세로형' 공동여백 수치 입니다! ★ */
    
#main .inner {width: calc(100% * ((1703 / 1903)));}

/* ★ '아이폰 5 - 세로형' 공동여백 수치 입니다! ★ */

.kr_h3{font-size: 2rem;}
#sec_2 .inner .singi {height: 200px;}


}

/* 모바일 */



