@charset "utf-8";

#main {
    
    /* 예시 */
}
/* 전체 여백을 좀 더 줄였음 */
#main .inner {width: calc(100% * ((1303 / 1903)));}

/* 제품 CTL 설명 파트 */
#main .sec1 .inner h1 {padding-top: 220px; text-align: center;}
#main .sec1 .inner h2 {padding-bottom: 150px; font-weight: 100; text-align: center; text-transform: none;}
#main .sec1 .inner .ctl_prev {background: #F7F8FA; padding: 60px;text-align: center;}
#main .sec1 .inner .ctl_prev h3 {padding-bottom: 20px;}

/* CTL 기계 사진 */
#main .sec1 .inner .ctl_img {margin:100px 0; height: 600px; background: url('../img/main/ctl_machine.png') no-repeat;}

/* CTL 기술 파트 */
#main .sec1 .inner > h3 {padding-bottom: 10px; border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
#main .sec1 .inner .ctl_skill {margin: 30px 0 200px; display: flex; justify-content: space-between; gap: 95px; }
#main .sec1 .inner .ctl_skill .nomal {width: calc(100% / 2);}
#main .sec1 .inner .ctl_skill .step {width: calc(100% / 2);}

/* CTL 기술 설명 파트 */
#main .sec1 .inner .ctl_skill dl { margin-top: 20px;}
#main .sec1 .inner .ctl_skill dl dt {padding-bottom: 10px; border-bottom: 1px solid rgba(0, 0, 0, 0.2);}

/* CTL 기술 이미지 */
#main .sec1 .inner .ctl_skill .nomal .nomal_img {height: 280px; background: url('../img/main/nomal.png') no-repeat;}
#main .sec1 .inner .ctl_skill .step .step_img {height: 280px; background: url('../img/main/step.png') no-repeat;}



/* CTL 가공문의 폼 파트 */
#main .sec2 {height: 850px; background: #0087E9 ; color: #fff;}
#main .sec2 .inner {height: 850px; display: flex; justify-content: space-between; }


/* CTL 문의 타이틀 파트 */
#main .sec2 .tit {margin:auto 0; width: calc(100% / 2);  }
#main .sec2 .tit h1 {text-align: left; padding-bottom: 50px;}
#main .sec2 .tit .line {content: ''; width: 75px; height: 1px; background: #fff;}
#main .sec2 .tit h3 {padding-top: 50px;}


/* CTL 문의 폼 파트 */
#main .sec2 .contact_txt {width: calc((100% / 2) - 100px); margin: auto 0;}

/* 폼에 호버하면 */
#main .sec2 .contact_txt form li{transition: background 0.5s;}
#main .sec2 .contact_txt form li:hover{
    background: rgba(255, 255, 255, 0.3);
}
#main .sec2 .contact_txt form .txt{transition: background 0.5s;}
#main .sec2 .contact_txt form .txt:hover {background: rgba(255, 255, 255, 0.3);}

/* CTL 문의 폼 내용 - 제목 : 폰트 재설정함 */

#main .sec2 .contact_txt form legend {
    display: block;
    padding: 5px 30px;
    width: 180px;
    
    font-family: 'noto sans KR'; 
    font-weight: 400; 
    font-size: 2rem; 
    letter-spacing: -2px; 
    
    border-right: 2px solid #fff;
}


/* CTL 문의 폼 내용 - 내용 : 폰트 재설정함 */
#main .sec2 .contact_txt .info input {
    background: transparent;

    font-family: 'noto sans KR';
    color: #fff; 
    font-weight: 400; 
    font-size: 2rem;
    letter-spacing: 0px;

    padding: 0 30px;
    width: 100%;

}

/* CTL 문의 폼 내용 - 칸 너비 설정 */
#main .sec2 .contact_txt form .info {
    margin: 20px 0; 
    border-radius: 10px; 
    border: 2px solid #fff;
}
#main .sec2 .contact_txt form .info li {display: flex; padding: 10px 0;}


/* CTL 문의 폼 내용 - 텍스트에어리어 설정 */
#main .sec2 .contact_txt form .txt {border-radius: 10px; border: 2px solid #fff; overflow: hidden;}
#main .sec2 .contact_txt form .txt > legend {
    margin: 0 15px;
    padding: 15px ;
    border-right: none; 
}
/* CTL 문의 폼 내용 - 텍스트에어리어 : 폰트 재설정함 */
#main .sec2 .contact_txt form .txt > textarea {
    
    resize: none; /*텍스트 박스 너비 조절 안되게 고정*/
    display: block;
    
    box-sizing: border-box;
    font-family: 'noto sans KR'; 
    font-weight: 400; 
    font-size: 2rem; 
    letter-spacing: 0px; 

    color: #fff;
    background: transparent;

    margin: 0 auto;
    margin-bottom: 20px;
    width: calc(100% - 50px);
    height: 150px;
    border-top: 2px solid #fff;
} 



/* CTL 문의 폼 내용 - 체크박스 내용 : 폰트 재설정 */
#main .sec2 .contact_txt label {
    position: relative;
    left: 0;
    
    margin-top: 20px;
    padding-left: 40px;
    font-family: 'noto sans KR'; 
    font-weight: 400; 
    font-size: 2rem; 
    letter-spacing: 0px;

    color: rgba(255, 255, 255, 0.6);
    transition: color 0.5s;
}

/* 체크박스 모양 재설정 */
#main .sec2 .contact_txt label > .box {
    display: inline-block;

    position: absolute;
    left: 0px;
    top: 2px;
    
    width: 28px;
    height: 28px;
    border: 2px solid #fff;
}
/* 체크박스 문구 호버 */
#main .sec2 .contact_txt label:hover {
   color: rgba(255, 255, 255, 1);
}

/* 체크박스 체크표시 설정 */
#chk[type=checkbox]:checked + .box {
    background-image: url('../img/main/Vector\ 48.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* 기본체크박스 화면 밖으로 날리기 */
#chk[type=checkbox] {
    position: absolute;
    left: -999em;
}

/* 체크박스와 제출버튼을 나란히 */
#main .sec2 .contact_txt .submit {display: flex;justify-content: space-between;}

/* 제출버튼 모양 재설정 */
#contact {display: flex; justify-content: space-between;position: relative; }
#contact .box2 {
    cursor: pointer;
    display: inline-block;

    padding: 15px 50px;
    border: 2px solid #fff;
    border-radius: 10px;

    text-align: center;
    color: #fff;

    transition: background 0.5s;
}

/* 제출버튼 호버 */
#contact .box2:hover {
    background-color: #fff;
    color:#0087E9;
}
#submit {position: absolute; left: -999em;}
