@charset "utf-8";


/* 전체 여백을 좀 더 줄였음 */
#main .inner {width: calc(100% * ((1303 / 1903)));}


/* 목재 타이틀 */
#sec_1 {margin-top: 220px;text-align: center;margin-bottom: 100px;}


/* 목재 부가설명 */
#sec_2 {margin-bottom: 200px;}
#sec_2 .inner {background-color: #F7F8FA;height: 250px;text-align: center;}
#sec_2 .inner .txt_1 {padding: 30px 0;}


/* 목재 제품 제목 */
#sec_3 .inner > h2 {text-align: center; width: 100%; margin-bottom: 100px;}

/* 목재 제품 탭버튼 */
#sec_3 .tab {
    display: flex; 
    justify-content:center; 
    gap: 30px;
    
    text-align: center;

    width: 100%; 
}
#sec_3 .tab li {
    cursor: pointer;
    
    display: block; 
    padding: 10px 50px;
    margin-bottom: 30px;

    width: 250px; 
    background: #F7F8FA;
    border-radius: 10px;

    transition: background 0.5s;
}
#sec_3 .tab li:hover {background: #0070ff; color: #fff;}
#sec_3 .tab li.on  {background: #0070ff; color: #fff;}


/* 목재 제품 종류 설명*/

/* 목재 제품 종류 설명 박스 */
#sec_3 .prd {display: block; background: #F7F8FA; width: 100%; margin-top: 50px; }
#sec_3 .prd .product {display: flex; gap: 50px; padding: 30px; border-top: 5px solid #0070ff;position: relative;}

/* 목재 제품 이미지 */
#sec_3 .prd .product .sti_img {
    display: block; 
    width: 400px;
    height: 400px;
    background:url('../img/main/wood_stick.png') no-repeat center; 
}
#sec_3 .prd .product .lvl_img {
    display: block; 
    width: 400px;
    height: 400px;
    background:url('../img/main/wood_lvl.png') no-repeat center; 
}
#sec_3 .prd .product .box_img {
    display: block; 
    width: 400px;
    height: 400px;
    background:url('../img/main/wood_box.png') no-repeat center; 
}
#sec_3 .prd .product .paper_img {
    display: block; 
    width: 400px;
    height: 400px;
    background:url('../img/main/wood_paper.png') no-repeat center; 
}








/* 목재 제품 설명 */
#sec_3 .prd .product .txt {width: calc(100% - 400px); }
#sec_3 .prd .product .txt div {margin: 30px 0;}
#sec_3 .prd .product .txt > p {text-align: right; position: absolute; right: 20px; bottom: 20px;}
#sec_3 .prd .product .txt .spec {font-weight: 700; }



/* 푸터 위 문구 */
#sec_3 .inner > h1 {text-align: center; color: rgba(0, 0, 0, 0.6);padding: 200px 0;}










/* 재환씨의 봉인된 CSS */

/* 
#sec_3 .inner .sti li {
    width: calc((100% - 300px) / 2 );
    position: relative;
    cursor: pointer;
}

#sec_3 .inner .sti li .kr_h3 {
    margin: 10px 0;
}

#sec_3 .inner .sti li .kr_p3 {
    width: 300px;
}

#sec_3 .inner .sti li .more {
    position: absolute;
    left: 250px;
    top: 320px;
    cursor: pointer;
}

#sec_3 .inner .list {
    background-color: #F7F8FA;
    width: 750px;
    padding: 50px;
    border-radius: 30px;
    margin-left: 230px;
    
}

#sec_3 .inner .list .form {
    display: flex;
    gap: 30px;

}

#sec_3 .inner .list .form img {
    width: 280px;height: 300px;
}

#sec_3 .inner .list .form .form_txt .kr_p2 {
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
}

#sec_3 .inner .list .form .form_txt select {
    width: 250px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
    
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#sec_3 .inner .list .form .form_txt input {
    width: 50px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
    
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 10px;
}


#sec_3 .inner .list .form .form_txt .btn{text-align: center; }
#sec_3 .inner .list .form .form_txt .btn_box .btn{
border-radius: 10px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
padding:5px 30px;

}
.btn_box
{
    display: flex;
    margin-top:20px;
    gap:20px;
}
#sec_3 .inner .list .form .form_txt .btn p{margin:0; }
.btn_box a{border: rgba(0, 0, 0, 0.3) 2px solid;color: rgba(0, 0, 0, 0.8);}
.btn_box .btn:hover{border: rgba(0, 0, 0, 0.3) 2px solid;color: #ffff;background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;}
    .btn_box a:nth-child(2){border: 2px #0070ff solid;background: #fff;color: #0070ff;}
    .btn_box .btn:nth-child(2):hover{background: #0070ff;color: #fff;transition: all 0.3s;} */

/* #sec_3 .inner .list .form .form_txt .btn_box .btn a:hover{border: rgba(0, 0, 0, 0.3) 2px solid;color: #ffff;background-color: rgba(0, 0, 0, 0.7);
transition: all 0.3s;}
#sec_3 .inner .list .form .form_txt .btn_box .btn a:nth-child(2){border: 2px #0070ff solid;background: #fff;color: #0070ff;}
#sec_3 .inner .list .form .form_txt .btn_box .btn a:nth-child(2):hover{background: #0070ff;color: #fff;transition: all 0.3s;} */
/* sec_4 */
/* #sec_4 .inner{margin: 150px 0 ;text-align: center;width: 1900px;}
#sec_4 .inner span{text-align: center;} */

/* 재환씨의 봉인된 CSS */